cython
google-cloud
h5py
ipywidgets
jupyter_contrib_nbextensions
keras
matplotlib
pandas
pandas-gbq
predictionio
sklearn
tensor2tensor
tensorflow
widgetsnbextension
fonttools>=4.61.0 # not directly required, pinned by Snyk to avoid a vulnerability
tornado>=6.5.3 # not directly required, pinned by Snyk to avoid a vulnerability
