cython
google-cloud
h5py
ipywidgets
jupyter_contrib_nbextensions
keras
matplotlib
pandas
pandas-gbq
predictionio
sklearn
tensor2tensor
tensorflow
widgetsnbextension
jupyter-server>=2.7.2 # not directly required, pinned by Snyk to avoid a vulnerability
